body{
	 background: url(../resimler/bg.gif);
	 background-repeat:repeat;
	 }
#container{
	width:570px;
	height:600px;
	margin:0 auto;
	border-width:3px;
	border-style:double;
	border-radius:10px;
	background-color:#4b7777;
	box-shadow:0 0 6px #000;-moz-box-shadow:0 0 6px #000;-webkit-box-shadow:0 0 6px #000;position:relative;	}
	
	